<h1>5d4</h1>

<ul>
    <li>
      <%= @dice_roll1 %>
    </li>
    <li>
      <%= @dice_roll2 %>
    </li>
    <li>
      <%= @dice_roll3 %>
    </li>
    <li>
      <%= @dice_roll4 %>
    </li>
     <li>
      <%= @dice_roll5 %>
    </li>
</ul>
